{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<body class='bg-slate-100 font-sans text-xl flex items-center justify-center'>
<div class='flex justify-center items-center m-10 p-10 border bg-white  md:w-1/4 rounded-lg shadow-lg' >
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="text-xl flex justify-center">Sign in</h1>
    <hr>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class='flex justify-center items-center mt-5'>
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    </div>
</form>
<div>
</body>
{% endblock %}
